<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>EMI Calculator</string>
	<key>CFBundleIdentifier</key>
	<string>com.syncfusion.xamarinemicalculator</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>cs</string>
		<string>da</string>
		<string>de</string>
		<string>es</string>
		<string>fi</string>
		<string>fr</string>
		<string>he</string>
		<string>hr</string>
		<string>hu</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>nb</string>
		<string>nl</string>
		<string>pl</string>
		<string>pt</string>
		<string>ro</string>
		<string>sk</string>
		<string>sv</string>
		<string>tr</string>
		<string>vi</string>
		<string>zh</string>
		<string>ar</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleName</key>
	<string>EMI Calculator</string>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
